.navlist li
{
    display: inline-block;
    list-style-type: none;
    margin-right: 34px;
    font-size: 11px;
}

.text-centerUser .navlist {
    font-family: "Trebutchet MS", Helvetica, Tahoma, sans-serif;
    font-size: 24px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top:0;
    white-space: nowrap;
    height: 60px;
    width: 700px;
    overflow-x: auto;
    margin-left: 115px;
}

.moddal .navlist {
    font-family: "Trebutchet MS", Helvetica, Tahoma, sans-serif;
    font-size: 24px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top:0;
    white-space: nowrap;
    overflow-x: auto;
}

.navlist li a {
    text-decoration: none;
    color: #212735;
    padding: 10px;
    border-radius: 15px;
}

.navlist li img {
    border-radius: 50%;
    padding: 10px;
}

.text-centerUser {
    display: inline-block;
    width: 1000px;
    z-index: 10;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.addButton {
    margin-top: 28px;
}

.toolbar .navlist {
    font-family: "Trebutchet MS", Helvetica, Tahoma, sans-serif;
    padding-top:0;
    margin-left: 600px;
}

.toolbar {
    display: inline-block;
    width: 100%;
    z-index: 10;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
}